@font-face {
  font-family: "KaTex_Math";
  font-style: italic;
  src: url("/fonts/KaTeX_Math-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "KaTex_Main-Regular";
  font-style: normal;
  src: url("/fonts/KaTeX_Main-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: bold;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}