$font-katex-math: 'KaTex_Math', sans-serif;
$font-katex-main: 'KaTex_Main-Regular', sans-serif;
$font-montserrat-bold: 'Montserrat-Bold', sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', sans-serif;

$font_task_color: #999999;
$font_color_black: #000000;
$font_color_tag: #5F6369;