// @import 'src/styles/_fonts.scss';
// @import 'src/styles/_variables.scss';

// @import '../../../../styles/_fonts.scss';
// @import '../../../../styles/_variables.scss';

@use '../../../../styles/fonts' as *;
@use '../../../../styles/variables' as *;

.editable {
  margin-top: 16px;
  font-size: 32px;
  font-family: $font-montserrat-bold;
  line-height: 48px;
  box-sizing: border-box;
}

.editable:focus {
  outline: none;
  border: 1px solid #edf5ff;
  box-shadow: 0 0 8px 2px #edf5ff;
  border-radius: 8px;
}
