@use '../../../../styles/variables.scss' as *;

.root {
  font-family: $font-montserrat-regular;
  height: 24px;
  padding: 4px 8px;
  border: 1px solid #999999;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  color: $font_color_tag;
}
